:root {
  --highlight-secondary: #3d5a80;
  --background-tertiary: #F5F5FF;
  --background-primary: white;
  --highlight: #ee6c4d;
  --background-secondary: #293241;
  --text-primary: black;
  --text-secondary: white;

  --font-heading: "Roboto Mono", monospace;

  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

/****************   Nav Section **********************/
nav {
  background-color: var(--background-secondary);
  color: var(--text-secondary);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

nav a {
  color: var(--text-secondary);
}

nav > * {
  margin: 0;
}

/***********************  Footer Section   **************************/
footer {
  background-color: var(--background-secondary);
  color: var(--text-secondary);
  
  display: flex;
  justify-content: center;
  gap: 2em;
}

footer a {
  color: inherit;
  text-decoration: none;
}

/*********** Splash Page ************************/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  gap: 1lh;
}

header h1 {
  margin: 0;
  text-decoration: underline var(--highlight);
  font-family: var(--font-heading);
  color: var(--highlight);
}

header img {
  border-radius: 100%;
}

.address {
  text-align: center;
  margin: 0;
}

.tagline {
  text-align: center;
  text-wrap: balance;
}

/************* Sections ********************/
hr {
  border: 1px solid var(--highlight);
}

section {
  padding-inline: 1em;
  margin-bottom: 1em;
}

section h2, section h3 {
  font-family: var(--font-heading);
  color: var(--highlight);
  text-decoration: underline 2px var(--highlight);
}

section dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  margin: 0;
  margin-inline: 1em;
}

section dl dd {
  text-wrap: balance;
}

section ul {
  list-style: square;
}

section a {
  color: var(--highlight-secondary);
  text-decoration: none;
}

section a:hover {
  color: var(--highlight);
}

/**************   Projects   *****************/
.three-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.card img {
  width: 100%;
  height: auto;
}

.card {
  background-color: var(--background-tertiary);
  border-radius: 2em;
  box-shadow: 0 5px 10px -5px gray;
  padding: 1em;
  min-width: 20ch;
  max-width: 50ch;
  width: clamp(20ch, 80%, 40ch);
  margin: 0 auto;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
  nav {
    flex-direction: column;
    padding-block: 0.5lh;
    gap: 0.5lh;
  }
  .three-col {
    grid-template-columns: 1fr;
    align-items: center;
  }
}

/**************   Contact Page   *****************/
.one-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  max-width: fit-content;
}

input {
  width: 20em;
  border: 1px solid var(--highlight);
  padding: 0.75em 1em;
  border-radius: 0.5em;
  margin: 0;
  margin-top: 0.5em;
  font-size: inherit;
}

textarea {
  width: 20em;
  border: 1px solid var(--highlight);
  padding: 0.75em 1em;
  border-radius: 0.5em;
  font-family: inherit;
  margin: 0;
  margin-top: 0.5em;
  font-size: inherit;
  resize: vertical;
}

label {
  align-self: start;
  margin-top: 1em;
}

button {
  align-self: end;
  margin-block: 1em;
  color: var(--text-secondary);
  background-color: var(--highlight);
  border: none;
  border-radius: 0.5em;
  padding: 0.75em;
}
